[submodule "src/intera_sdk"]
	path = src/intera_sdk
	url = https://github.com/UCB-ISG/intera_sdk.git
	branch = ucb-noetic-5.3.0
	pushurl = git@github.com:UCB-ISG/intera_sdk.git
[submodule "src/intera_common"]
	path = src/intera_common
	url = https://github.com/UCB-ISG/intera_common.git
	branch = ucb-noetic-5.3.0
	pushurl = git@github.com:UCB-ISG/intera_common.git
[submodule "src/sawyer_robot"]
	path = src/sawyer_robot
	url = https://github.com/UCB-ISG/sawyer_robot.git
	branch = ucb-noetic-5.3.0
	pushurl = git@github.com:UCB-ISG/sawyer_robot.git
